.full-image {
    width: 40%;
    margin: 0 auto;
}

.share {
    all: unset;
    display: block;
    margin: 0 auto 30px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 3px 7px;
    border-radius: 20px;
    color: wheat;
}

.share:hover {
    border: 1px solid white;
}
