@keyframes rotate {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.nav {
    display: flex;
    gap: 30px;
}
.link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.link:hover {
    animation: 0.7s linear infinite alternate rotate;
}
.link::before {
    content: '';
    transition: all 0.5s ease;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: rgb(108, 0, 158);
    transform: translate(-50%, 0);
}
.link:hover::before {
    width: 100%;
}
@media (max-width:520px) {
    .nav {
        gap: 10px;
    }
    .link {
        font-size: 16px;
    }
}
