/* @keyframes rotate {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
} */
.nav-menu {
    display: flex;
    gap: 30px;
}
.nav-menu__link {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.nav-menu__link_active {
    pointer-events: none;
    
    color:rgba(44, 134, 238, 0.945);
}

.nav-menu__link:hover {
    animation: 0.7s linear infinite alternate rotate;
}
.nav-menu__link::before {
    content: '';
    transition: all 0.5s ease;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: rgb(34, 81, 184);
    transform: translate(-50%, 0);
}
.nav-menu__link:hover::before {
    width: 100%;
}
@media (max-width: 520px) {
    .nav-menu {
        gap: 10px;
    }
    .nav-menu__link {
        font-size: 16px;
    }
}
