@keyframes rotate {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.nav-menu {
    display: flex;
    gap: 30px;
}
.nav-menu__link {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: transform 0.5s ease;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
}

.nav-menu__link_active {
    pointer-events: none;
    animation: rotate 1s infinite alternate linear;
    color: rgba(44, 134, 238, 0.945);
}

.nav-menu__link::before {
    content: '';
    transition: all 0.5s ease;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: rgb(34, 81, 184);
    transform: translate(-50%, 0);
}
.nav-menu__link:hover::before {
    width: 100%;
}
@media (max-width: 992px) {
    .nav-menu {
        gap: 15px;
    }
    .nav-menu__link {
        font-size: 16px;
        letter-spacing: none;
    }
}
@media (max-width: 900px) {
    .nav-menu {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-300%);
        transition: transform 0.7s ease;
    }
    .nav-menu.active {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        transform: translateX(0%);
        transition: all 0.9s ease-out;
    }
    .nav-menu__link {
        font-size: 22px;
        letter-spacing: none;
    }
}
@media (max-width: 520px) {
    .nav-menu {
        gap: 10px;
    }
}
