.card {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease;
    height: 400px;
    transition: all 0.4s linear;
    border-radius: 20px;
}

.card__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card__sceleton {
    height: 400px;
}
.card:hover {
    box-shadow: 0px 0px 20px rgb(197, 193, 199);
}
.card_out {
    opacity: 0;
    visibility: hidden;
}

.card__title-zone {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    left: 0;
    border-radius: 0 0 15px 15px;
    margin: 0;
    padding: 0 10px;
    background: linear-gradient(rgba(38, 38, 38, 0.5), rgba(0, 0, 0, 0.95));
}
.card__title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    color: rgb(234, 229, 236);
}
.empty {
    text-align: center;
}
@media (max-width: 450px) {
    .card {
        flex: 0 1 280px;
    }
}
