.categories {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.categories__list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}



@media screen and (max-width: 1150px) {
    .categories__back-btn {
        width: 30px;
        height: 30px;
        top: -90px;
    }
}
@media screen and (max-width: 1000px) {
    .categories__back-btn {
        top: -90px;
        right: 30px;
    }
}

@media screen and (max-width: 900px) {
    .categories {
        width: 80%;
    }
    .categories__back-btn {
        top: -55px;
        right: -34px;
    }

    .categories__list {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .categories__back-btn {
        top: -55px;
        right: -8px;
    }
}

.categories__back-btn:hover {
    opacity: 0.8;
}

.subcategory {
    background-color: rgb(16, 133, 55);
}

.categories__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
