.categories {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.categories__list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.categories__back-btn {
    all: unset;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -80px;
    right: 50px;
    transition: opacity 0.2s linear;
}

.categories__back-btn:hover {
    opacity: 0.8;
}

.subcategory {
    background-color: rgb(16, 133, 55);
}

.categories__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
