.full-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

.full-image__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
    animation: fade 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
    }
}

.full-image__panel {
    display: flex;
    margin: 0 auto 20px;
    justify-content: space-around;
    width: 100%;
}
.full-image__title {
    text-align: center;
    margin: 10px auto 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    text-shadow: 2px 2px 5px black;
    cursor: default;
}

.full-image__avatar {
    border-radius: 20px;
    cursor: default;
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.full-image__hd {
    all: unset;
    position: absolute;
    top: 0;
    right: -100px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 0 10px white);
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.full-image__hd:hover {
    opacity: 0.8;
}
.full-image__user {
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
}
