.random {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random__btn {
    all: unset;
    font-family: 'Russo One', sans-serif;
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
    margin-top: 15px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .random__btn {
        font-size: 14px;
    }
}

.fade-enter {
    opacity: 0;
    transform: translateY(-100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(-100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 600ms, transform 600ms;
}

.opacity-enter {
    opacity: 0;
}
.opacity-enter-active {
    opacity: 1;
}
.opacity-exit {
    opacity: 1;
}
.opacity-exit-active {
    opacity: 0;
}

.opacity-enter-active,
.opacity-exit-active {
    transition: opacity 600ms;
}
