.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 100%;
    gap: 10px;
    align-items: center;
}

.empty {
    margin: 0 auto;
    font-size: 18px;
    color: wheat;
    width: 100%;
}

.input {
    all: unset;
    border-bottom: 2px solid wheat;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto 50px;
    display: block;
    padding: 0 5px 2px;
    color: wheat;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap:20px;
}
